*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    background: hsl(227, 60%, 97%);
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 1440px;
    height: 1024px;
}


/* ini.input */
.caja{
    position: absolute;
    top: 40px;
    left: 40px;
}

.entradaTexto{
    position: absolute;
    top: 168px;
    left: 240px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #0a3871;    
}

.anuncioTexto{
    position: absolute;
    top:851px;
    left:240px;
}

.cajaBoton{
    position:absolute;
    top: 885px;
    left:240px;
}

.enviarDes_Encriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    transition: 1s all;
    cursor:pointer;
}

#enc{
    background: #0A3871;
    color: white;
}
/* fin.input */





/* ini.messages */
.caja3{
    position: absolute;
    background: white;
    float:right;
    width: 400px;
    height: 944px;
    top: 40px;
    left: 1000px;
    border-radius: 32px;
}

#munieco{
    position: absolute;
    width: 336px;
    height: 304px;
    top:283px;
    left: 20px;
}


.salidaTextoGrande{
    position: absolute;
    top:619px;
    left:50px;
    width: 336px;
    height: 58px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    resize: none;
}


.salidaTextoChico{
    position: absolute;
    top:675px;
    left:50px;
    width: 336px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    resize: none;
}


#enviarCopiar{
    position: absolute; 
    margin: 885px 1032px;
}
/* fin.messages */



























.copyright{
    position: absolute;
    top: 970px ;
    left: 240px;
    height:55px;
    text-align: center;
    color:#0c36be;
    font-size: 13px;
}