body{
    font-family: 'Montserrat', sans-serif;
}

.contenedor{
    position: absolute;
    background: hsl(227, 60%, 97%);
    width: 1440px;
    height: 1024px;
    top: 0;
    left: 0;
    margin: 0 auto;
/*     top: 622px;
    left: -2277px; 
*/
}

header{
    height: 0;
}

.caja{
    height: 0;
    position: absolute;
    top: 40px;
    left: 40px;
}

.contenedor caja img{
        width: 120px;
        height: 48px;
    }


main{
        height: 0;
        left:0;
    }

.cajaPrincipal{
    height: 0;
    left:0;
}

.entradaTexto{/*OK*/
    position: absolute;
/*     position: relative; 
    top: 168px;
    left: 240px;  */   
    margin: 120px 240px;
    width: 557px;
    height: 48px;
    /*     
    padding: 5px 5px;
    display: block; 
    */
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #0a3871;
}    

#anuncioTexto{
    position: absolute;
/*     position: relative; 
    top: 851px;
    left: 240px; */    
/*     clear:left; */
    margin: 851px 240px;
    width: 229px;
    height: 18px;
}

.cajaBoton{
    position: absolute; 
/*     top: 885px;
    left: 240px;  */ 
    margin: 885px 240px;  
    width: 680px;
    height: 67px;
}

.enviarDes_Encriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    /* transition: 1s all; */
    cursor:pointer;
}

.caja3{ 
    float: right; 
    /* position: absolute;  */
    margin: 40px 1000px;
/*     top: 40px;
    left: 1000px;   */  
    width: 400px;
    height: 944px;
    border-color:blue;
    border-style: solid;
}


#munieco{
    position: absolute;
    width: 336px;
    height: 304px;
    margin: 283px 1032px;
}

.salidaTexto{
    position: relative; 
    width: 336px;
    height: 122px;
    top: 619px;
    left:1032px;
}

#enviarCopiar{
    position: relative; 
    margin: 547px 1033px;
}


.copyright{
    position: absolute; 
    margin: 970px 240px;
/*     top: 885px;
    left: -240px;     */
    clear:both;                                        
    height:55px;
    text-align: center;
    color:#0c36be;
    font-size: 13px;
}


/* un. (2017, December 17). ¿Cuándo debería mover un elemento con margen o una posicion? Stack Overflow En Español. https://es.stackoverflow.com/questions/125422/cu%C3%A1ndo-deber%C3%ADa-mover-un-elemento-con-margen-o-una-posicion */