body{
    font-family: 'Montserrat', sans-serif;
}

header {
    /*background-color: #f31a1a;*/
    padding: 2px 0;
}

.caja{
    margin: 40px 40px;
    width: 120px;
    height: 48px;
    /*
    width: 940px;
    position: relative;
    margin: 0 auto;
    */
}

p{
    text-align: center;
}

div  {
    /*
    background-color:#FFEFD5; 
    */
    margin:7px;     
    padding:7px;
    /*      
    border-style: solid;  
    border-width:2px;  
    */
}

main{
    background-color: linear-gradient(#FEFEFE, #888888);
    padding: 20px 0;
}

.cajaPrincipal{
    height: 480px;
}

.entradaTexto{/*OK*/
    width: 557px;
    height: 48px;
    margin: 120px 240px;
    padding: 5px 5px;
    display: block;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    color: #0a3871;
}

#anuncioTexto{
    width: 28px;
    height: 18px;
    margin: 851px 240px;
}

.salidaTexto{
    width: 557px;
    height: 48px;
    margin: 8px 240px;
}

.cajaBoton{
    /*background: blue;/*Seguimiento*/
    width: 680px;
    height: 67px;
    margin: 5px 172px;
}

.enviarDes_Encriptar{
    /*background: blue;/*Seguimiento*/
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    transition: 1s all;
    cursor:pointer;
}

#caja2{ 
    /*border-color:green;*/
    margin:0 7px 7px 0px; 
    width:880px; 
    height:500px;
    float: left;  
}

#caja3{ 
        border-color:blue;
        margin:0 7px 7px 7px; 
        width:325px; 
        float: right; 
        height:500px; 
    }

#caja3 p:hover{
    background: #0c36be;
    border: 5px solid #000000;
}

/*
#caja3 img:hover{
    background: #0c36be;
}
*/

#munieco:hover{
    background: #000000;
}

footer{
    text-align: center;
    padding:4px;
}
#caja4{ 
    /*border-color:orange; */
    clear:both;                                        
    height:55px;
}

.copyright{
    color:#0c36be;
    font-size: 13px;
    margin:20px;
}















/*Aquí inicia el CSS para nuestra home*/



/*Llaves*/
/**
La letra "e" es convertida para "enter"
La letra "i" es convertida para "imes"
La letra "a" es convertida para "ai"
La letra "o" es convertida para "ober"
La letra "u" es convertida para "ufat"
Requisitos:

Debe funcionar solo con letras minúsculas

No deben ser utilizados letras con acentos ni caracteres especiales

Debe ser posible convertir una palabra para la versión encriptada también devolver una palabra encriptada para su versión original.

Por ejemplo:
"gato" => "gaitober"
gaitober" => "gato"

La página debe tener campos parainserción del texto que será encriptado o desencriptado, y el usuario debe poder escoger entre as dos opciones.

El resultado debe ser mostrado en la pantalla.

Extras:

Un botón que copie el texto encriptado/desencriptado para la sección de transferencia, o sea que tenga la misma funcionalidad del ctrl+C o de la opción "copiar" del menú de las aplicaciones.
*/